h1, h2{
    font-size: 30px;
    text-align: center;
    color: #ffffff
    }
    
    p{
    font-size: 20px;
    text-align: left;
    font-family: Helvetica, sans-serif;
    color: #fff
    }
    
    body {
    background-color: #000000;
    }

a {color: blue}  